<h1>SECRET PAGE</h1>

<a href=""
  ><img
    src="https://images.pexels.com/photos/1608382/pexels-photo-1608382.jpeg?auto=compress&cs=tinysrgb&h=350"
    alt=""
/></a>

<a href="/register">SIGN UP</a> <a href="/login">LOGIN</a>
<a href="/logout">LOGOUT</a>
