<h1>LOGIN PLEASE</h1>
<a href="/register">SIGN UP</a> <a href="/login">LOGIN</a>
<a href="/logout">LOGOUT</a>

<form action="/login" method="POST">
  <input type="text" name="username" id="" placeholder="username" />
  <input type="password" name="password" id="" placeholder="password" />
  <button>Login</button>
</form>
